In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import datetime


%matplotlib inline

In [4]:
#Read dataset into a df using pandas 
    
cardio_alco = pd.read_csv('cardio_alco.csv')

In [5]:
cardio_alco.head()

  id;alco
0    44;0
1    45;0
2    46;0
3    47;0
4    49;0

In [6]:
cardio_alco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56903 entries, 0 to 56902
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id;alco  56903 non-null  object
dtypes: object(1)
memory usage: 444.7+ KB

In [8]:
cardio_alco.shape

(56903, 1)

In [9]:
cardio_alco.sample(50)

       id;alco
13660  19577;0
14526  20834;0
48355  86178;0
20866  29882;0
53758  93859;0
9626   13807;0
38124  70677;0
25078  35891;0
48377  86205;0
34129  63964;1
30274  58501;0
52807  92504;0
48290  86082;1
53027  92813;0
34341  64283;0
39201  72186;0
35400  65803;0
33975  63753;0
34733  64853;0
43284  77985;0
44843  81145;0
4343    6219;0
23848  34174;0
53253  93147;0
46985  84197;0
30788  59232;0
1779    2591;0
30112  58267;0
9647   13839;0
4095    5869;0
15850  22716;0
27626  39572;0
25806  36914;0
8529   12255;0
35446  65867;0
56039  98702;0
54016  94244;0
54400  94797;1
54549  95012;0
295      490;0
15951  22860;0
45343  81844;0
49816  88261;0
56400  99212;0
32432  61567;0
9869   14157;0
16184  23200;0
41967  76116;0
44725  80044;0
25124  35952;1